.card {
    background-color: #010101;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    width: 65vw;
}

.userInfo {
    display: flex;
    width: auto;
    align-items: center;
    font-size: medium;
    margin-left: 100px;
}

.userInfo h2 {
    margin-right: 1vw;
    font-size: medium;
}

.userInfo a {
    color: #FFFF;
    text-decoration: none;
}

.userInfo h2:hover {
    text-decoration: underline;
}

.userInfo p {
    width: auto;
    color: #35373a;
}

.userInfo p a {
    color: #35373a;
    text-decoration: none;
}

.pp {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}