.MyButton {
    background-color: transparent;
    border: none;
    font-size: large;
    display: flex;
    align-items: center;
}

.MyButton p {
    font-size: small;
    margin-bottom: 0;
}

.MyButton img {
    width: 24px;
    height: 24px;
}